/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
    width: 944px;
    margin: 0 auto;
    display:flex;
}
.menu{
    width: 297px;
    margin: 1,20,0,1;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    
}
.menu li a{
    display: block;
    background-color: #ffffff;
    color: #37523d;
    padding-top: 25px;
    text-decoration: none;
    font-size: 28px;
    border: 1px solid #e7eeea;
}
.menu li a:hover{
    background: #e7eeea;
}
.menu h3{
    background-color: #37523d;
    color: #ffffff;
    padding: 22px;
    font-size: 36px;
}

.product ul{
    display: flex;
    flex-wrap: wrap;
}
.product li{
    width: 301px;
    margin-left: 20px;
}
.pd{
    display: flex;
    font-size: 22px;
    font-weight: bold;
}
.pd h3{
    padding-top: 20px;
    width: 184px;
    text-align: center;
    color: #37523d;
    border: 1px solid #e7eeea;
}
.pd span{
    padding-top: 20px;
    width: 113px;
    height: 40px;
    display: block;
    text-align: center;
    color: #37523d;
    border: 1px solid #e7eeea;
}
.product li a{
    font-weight: bold;
    padding-top: 30px;
    font-size: 23px;
    display: block;
    color: #37523d;
    text-align: center;
    text-decoration: none;
    background-color: #e7eeea;
    margin-bottom: 20px;
}
.product li a:hover{
    background: #e7eeea;
}